#game-container {
  max-width: 904px;
}

app-game-panel {
  min-width: 214px;
}

#play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 48px;
  cursor: pointer;
  font-size: 32px;
  color: white;
  background-color: #df0026;
  margin-top: 24px;
}

#logout-button {
  margin-bottom: 8px;
}